{% extends 'adminlayout.html' %}
{% load static %}
{% block content %}

    <div class="row mt-4">
    </div>
    <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Edit Team Member</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                  <!--Form-->
                  <div class="container">
                      <form role="form" action="" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                        <div class="input-group input-group-outline mb-3">
                          <input type="text" class="form-control" placeholder="Enter Name" name="name" value="{{ team.name }}">
                        </div>
                        <div class="input-group input-group-outline mb-3">
                          <input type="text" class="form-control" placeholder="Enter Position" name="position" value="{{ team.position }}">
                        </div>
                        <div class="input-group input-group-outline mb-3">
                          <input type="text" class="form-control" placeholder="Enter Facebook Profile Link" name="fb_link" value="{{ team.fb_link }}">
                        </div>
                        <div class="input-group input-group-outline mb-3">
                          <input type="text" class="form-control" placeholder="Enter Twitter Profile Link" name="twitter_link" value="{{ team.twitter_link }}">
                        </div>
                        <div class="input-group input-group-outline mb-3">
                          <input type="text" class="form-control" placeholder="Enter Instagram Profile Link" name="instagram_field" value="{{ team.instagram_field }}">
                        </div>
                        <div class="input-group input-group-outline mb-3">
                          <img src="/media/{{ team.image }}" alt="{{ team.name }}" width="200"><br>
                          <input type="file" class="form-control" id="image" name="image" value="{{ team.image }}">
                        </div>
                        <div class="input-group input-group-outline mb-3">
                            <select class="form-control" name="status" id="">
                                <option value="" selected disabled>Status</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                        <div class="text-center">
                          <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Edit Details</button>
                        </div>
                      </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}